.section:not(#section0)

	.container

		h1, h4
			+transition(all 650ms $ease-in-out-quart)
			text-align: center
			padding: 1em
			font-weight: 200
			text-shadow: 0px 2px 2px tint($dark-gray, 10%)
			opacity: 0
		p, ul, table
			+transition(all 1100ms $ease-in-out-quart)
			opacity: 0

		.images
			+span-columns(6)

			img
				+span-columns(3 of 6)
				border-radius: 5px

		.desc
			+span-columns(6)
			margin-right: 0

			p
				padding: 0 0 0 1em
			
		.bullets
			+span-columns(12)
			padding: 1em
			text-align: right

			ul
				+span-columns(3 of 12)
				+shift(9)
				list-style-type: circle
				text-align: left

				li
					font-style: italic

#section1
	color: #fff 
	+linear-gradient(tint($company, 10%), shade($company, 10%))
	
#section2
	
	.container
		background: url(../img/about-us.png) no-repeat center

		p
			text-align: center
			padding: 0 10em

		ul
			+span-columns(12)
			list-style-type: square

			li
				text-align: center
#section3
	background: url(../img/about-us.png) #7E8F7C no-repeat center
	color: #fff

	.container

		table
			+span-columns(8)
			+shift(2)
			border-top: thin solid $light-gray
			border-bottom: thin solid $light-gray
			padding: 1em

			tr
				+span-columns(8 of 8)

				th
					+span-columns(4 of 8)
					border: none
					text-align: right
					padding-right: 0.5em

				td
					+span-columns(4 of 8)
					border: none

					a
						color: tint($company, 65%)
						&:hover
							color: $company

