.section:not(#section0)

	.slide

		.container
			h1
				text-align: center
				padding: 1em
				font-weight: 200
				text-shadow: 0px 2px 2px tint($dark-gray, 10%)

			img
				+span-columns(3)
				border-radius: 5px
				float: left

			.description
				+span-columns(9)

				p
					padding: 0 2em
			
			.bullets
				+span-columns(12)
				padding: 1em
				text-align: right

				ul
					+span-columns(3 of 12)
					+shift(9)
					list-style-type: circle
					text-align: left

#section1
	color: #fff //$dark-gray
	//background-color: tint($company, 10%) //#1BBC9B
	+linear-gradient(tint($company, 10%), shade($company, 10%))
	
#section2
	+outer-container

#section3
	
	.container
	
		h1
			+transition(all 2000ms $ease-in-out-quart)
			margin-left: -1em
		h1.effect
			margin-left: 0em