body
	//overflow-x: hidden
	.hero-banner
		background-color: tint(#005a79, 20%)
		background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1))
		background-size: 70px 120px
		padding: 1em 4em
		#slider-ul
			padding: 0em 1em 26em
			position: relative
			//overflow: hidden
			button
				margin-top: 3em
			li
				position: absolute
				+transition(all 900ms $ease-out-quint)
				display: inline-block
				a
					img
						padding: 0.3em
						border-radius: 8px
				div.description
					padding: 0 0.3em
					position: absolute
					top: 0.3em
					> div
						background-color: rgba($dark-gray, 0.7)
						padding: 2em 1em 20em 1em
						color: shade($light-gray, 10%)
						text-shadow: 0 1px 2px #000
						> hr
							display: block
							height: 1px
							border: 0
							border-top: 1px solid shade($light-gray, 30%)
							margin: 1em 0
							padding: 0
