nav
	+clearfix
	+fill-parent
	padding: 0 1em
	//+position(fixed, 0 null null null)
	background: tint($dark-gray, 15%)
	ul
		li
			padding: 1.5em 1em
			float: left
			font-family: Lato, $helvetica
			line-height: 2em
		li.social
			float: right
			width: 4em
			img
				display: block
	a
		color: white
		&:hover
			color: tint($company, 30%)
			text-shadow: 0 2px 2px shade($company, 50%)